.whole_signup {
    font-family: 'Open Sans', sans-serif;
}

.whole_signup * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.whole_signup .container {
    min-height: calc(100vh - 80px);
    display: grid;
  
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.whole_signup .login-left {
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-left: 100px;
    background-color: white;
    letter-spacing: 1px;
}

.whole_signup .login-right {
    display: flex;
    justify-content: center;
}

.whole_signup .login-right img {
    width: 100%;
}

.whole_signup .login-header {
    margin-top: 10px;
}

.whole_signup .login-header h1 {
    font-size: 2rem;
    font-weight: 700;
}

.whole_signup .login-header p {
    margin-top: 10px;
    opacity: .7;
}

.whole_signup .login-form {
    width: 450px;
    margin-top: 17px;
}

.whole_signup .login-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.whole_signup .form-item {
    position: relative;
  
}

.whole_signup .form-item input {
    margin-top: 8px;
}

.whole_signup .form-item label {
    font-size: 1.1rem;
    padding-left: 20px;
    font-weight: 600;
}

.whole_signup .form-item input[type='email'],
.whole_signup .form-item input[type='text'],
.whole_signup .form-item input[type='password'],
.whole_signup .form-item .pass-key {
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}

.whole_signup .form-item .pass-key {
    padding-right: 30px;
}

.whole_signup .form-item .password-toggle {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
}

.whole_signup .form-item .error-message {
    color: rgb(237, 122, 122);
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.whole_signup .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.whole_signup .checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: black;
}

.whole_signup .remember-forgot {
    margin-top: 273px;
    padding: 10px 0;
    font-size: 16px;
    position: absolute;  
    transform: translate(30px, -10px);
    margin-left: 250px;
}

.whole_signup .bg-grey {
    width: 100%;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: #212022a9;
}

.whole_signup .login-form button {
    border: none;
    /* padding: 1rem; */
    height: 55px;
    font-size: 18px;
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .5s;
    width: 100%;
}

.whole_signup .login-form button:hover {
    background: black;
    color: white;
}

.whole_signup ::placeholder {
    color: grey;
    font-size: 1rem;
}

/* Media Queries */
@media(max-width: 1300px) {
    .whole_signup .login-left {
        padding: 50px !important;
    }
    .whole_signup .login-right {
        width: 500px;
    }
    .whole_signup .login-form {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .whole_signup .login-right {
        width: 400px;
    }
}

@media(max-width: 900px) {
    .whole_signup .login-header h1 {
        font-size: 25px;
    }
    .whole_signup .login-header p {
        font-size: 16px;
    }
    .whole_signup .login-right {
        width: 400px;
    }
}

@media(max-width: 768px) {
    .whole_signup .login-header h1 {
        font-size: 30px;
    }
    .whole_signup .container {
        grid-template-columns: auto;
    }
    .whole_signup .login-right {
        display: none;
    }
}